.navbar{
    opacity: 0.9;
}
#logo{width: 40px;}
#collapsibleNavId{
    border-top: 1px solid #ddd;
    margin-top: 15px;
}
@media (min-width: 768px){
    #collapsibleNavId{
        border-top: 0;
        margin-top:0px;
    }
}

.showcase{
    background-image: url(../images/mountains.jpg);
}
.overly{
    background-color: rgba(36, 156, 177, 0.541);
    padding-top: 20px;
    padding-bottom: 40px;
}
.maintitle{
    line-height: 180%;
    font-weight: 300;
    padding: 80px 0;
}
@media(min-width:1200px){
    .maintitle{font-size: 3rem;}
    .imgbook{max-width: 84%;margin-right: 0}
}
.btn ,.form-control ,.card{border-radius: 0}
.section-header{max-width: 640px;margin: 10px auto;color: #555}
#accordianId .card{border: 0}
#accordianId {border: 1px solid #ddd;max-width: 900px;}
#authors .card img {margin-top: -50px;}
#accordianId .card a {cursor: pointer;}
#contact .input-group-text {
    width: 52px;border-top-right-radius: 0 !important;border-bottom-right-radius: 0 !important
}
#contact .form-control {border-top-left-radius: 0 !important;border-bottom-left-radius: 0 !important}
.animated {
    animation-duration: 1.5s
}
.link{
    color: #555;
    text-decoration: none !important;
}
.link:hover{
    color: red;
}
.mybadge{
    vertical-align: 5px;
    margin-right: -7px;
}
.overly2{
    background-color: rgba(255, 255, 255, 0.822);
    padding-top: 20px;
    padding-bottom: 40px;
}
.myheader{
    max-width: 400px;
}
@media (max-width:768px){
    .myheader{
        max-width: 200px;
    }
}
#topbtn{
    z-index: 100;
    bottom: 20px;
    left: 20px;
}
#topbtn{
    background-color: rgba(0, 0, 0, 0.404);
    color: #fff
}
#topbtn:hover{
    background-color: #ccc
}
#links-footer>a{
    font-size: 18px;
    display: inline-block;
    width: 34px;
    height: 34px;
    background-color: #444;
    color: #eee;
    line-height: 2.1em;
    margin-left: 4px;
    border-radius: 50%;
    text-align: center;
    transition-duration: 0.6s;
}
#links-footer>a:hover{
    background-color: lightgreen
}
.list-unstyled>li>a{
    color: #fff;
    text-decoration: none
}
.list-unstyled>li>a::before{
    content: ' '
}
.list-unstyled>li>a:hover{
    color: aquamarine
}
footer{
    background-color: #222
}
.modal-body{
    padding: 50px;
    line-height: 200%;
}
.modal-body li{
    margin-bottom: 12px;
}
.custom-select {
    padding: .375rem .75rem .375rem 1.75rem; 
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat left .75rem center;
    background-size: 8px 10px;
}
.invalid-tooltip{
    line-height: 150%
}