$color-primary:#f9b500;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
    transition: all .2s;

    &:hover {
        color: $color-primary !important;
    }
}

i {
    color: $color-primary;
}