#search-input {
    height: 45px;
    position: absolute;
    top: 7px;
    left: 50px;
    width: auto;
    right: 15px;
    user-select: none;

    input {
        border: none;
        background-color: rgb(247, 245, 248);
    }
}

.card {

    margin: 4px 0;

    &-img-overlay {
        height: 100%;
        color: white;
        background-color: rgba($color: #000000, $alpha: .5);
        display: flex;
        flex-flow: column;
        user-select: none;
        justify-content: flex-end;

        h5 {
            font-size: 1.1rem;
            line-height: 180%;
            margin-bottom: 25px;

            @media (max-width:500px) {
                font-size: 1rem;
                margin-bottom: 15px;
            }
        }
    }
}

.info-bar {
    list-style: none;
    font-size: .8rem;
    font-family: yekanf;

    li {
        display: inline-block;
        margin-left: 20px;

    }
}