.navbar {
    &-item {
        padding-right: 15px;
        margin-right: 15px;
        font-size: 1.3rem;
        cursor: pointer;

        &:hover {
            color: $color-primary !important;
        }
    }

    .nav-item {
        border-top: 1px solid #eee;
        padding: 0 10px;

        @media (min-width:760px) {
            border-top: none
        }
    }
}

#bold-news {
    .col-12 {
        padding: 0 3px;
    }
}

#main-news {
    .list-group {
        li {
            border-radius: 0;
            border-color: white;
            background-color: $color-primary;
            text-align: center;
            font-weight: 700;
        }
    }
}