.navbar {
    max-width: 1200px;
    margin: auto;

    &-item {
        padding-right: 15px;
        margin-right: 15px;
        font-size: 1.3rem;
        cursor: pointer;

        &:hover {
            color: $color-primary !important;
        }
    }

    .nav-item {
        border-top: 1px solid #eee;
        padding: 0 10px;

        @media (min-width:760px) {
            border-top: none
        }
    }
}

#bold-news {
    .col-12 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        @media (min-width:768px) {
            padding: 4px;
        }
    }
}