$color-gray:#777;
$color-green: #4b5;
$color-greenLight: #6c6;

body {
    font-family: yekan;
}

.container-fluid {
    max-width: 1220px;
}

a:hover {
    text-decoration: none;
}

.myshadow {
    box-shadow: 0 0px 3px rgba($color: #000000, $alpha: .25);
}

.owl-carousel {
    padding: 10px 0;

    h5 {
        font-size: 12px;
        margin-bottom: 5px;
    }
}