.navbar{
    font-size: 12px;
    padding: 0;
}

main{
    background-color: #eee;
}

.card-header{
    font-size: 14px;
    padding: 7px 20px;
    margin-bottom: 10px;
}

.card-title{
    font-size: 14px;
}