.navbar {
    font-size: 12px;
    padding: 0;
}

main {
    background-color: #eee;
}

.card-header {
    font-size: 14px;
    padding: 7px 20px;
    border-bottom: none;
}

.card-title {
    font-size: 14px;
}

.media {
    margin: 10px 15px;

    &_item {
        line-height: 70%;
    }

    &_img {
        &:hover {
            box-shadow: 0 0 8px rgba($color: #f44, $alpha: .7)
        }
    }

    &_link {
        color: #222;
        font-size: 12px;

        &:hover {
            color: red;
        }
    }

    &_footer {
        font-size: 11px;
    }
}

.carousel-indicators {
    margin: 0;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: auto;
    height: 50px;
    background-color: rgba(60, 70, 90, 0.8);
    user-select: none;
    border-radius: 0 0 5px 5px;

    @media (max-width:768px) {
        display: none;
    }

    li {
        height: initial;
        text-indent: initial;
        width: 20%;
        text-align: center;
        margin: 0;
        background-color: transparent;
        color: white;
        font-size: 12px;
        padding-top: 10px;
    }

    .active {
        color: #444;

        &::before {
            content: '';
            border: 10px solid transparent;
            border-bottom-color: white;
            width: initial;
            position: absolute;
            top: -20px;
            right: 50%;
            left: auto;
            transform: translateX(10px);
        }
    }
}

.card-body {
    padding: 8px;
}

.top-footer {
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #343a40;

    a {
        color: white;
    }
}