#navbar{
    position: fixed;
    z-index: 1000;
    background-color: transparent;
    background-image: linear-gradient(rgba(0,0,0,0.8),transparent)
}
.indicator-item{
    border-radius: 0 !important;
    height: 5px !important;
    width: 3vw !important;
    background-color: rgba(255, 255, 255, 0.35) !important
}
.indicators .active{
    background-color: white !important
}
#aboutUs{
    padding: 4rem 0;
    background:url("../images/world.jpg") center /cover no-repeat fixed;
    position: relative;
}
#aboutUs::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.89)
}
#aboutUs .container{
    position: relative;
}
.section-head{
    margin: 0px auto 20px auto;
    padding-bottom: 15px;
}
.section-body{
    width: 80%;
    margin: 0 auto 27px auto;
}
#slider{
    position: relative !important;
    height: 100vh !important;
    min-height: 400px;
}
#slider li {
    height: 100%;
}
#statistics,#form,#skill,#Portfolio{
    padding: 60px 0;
}
#statistics{
    background: url("../images/stats.jpg") center /cover no-repeat fixed;
}
#statistics>div>div>div{
    padding-top: 25px;
}
.counter{
    font-family: yekanf;
    font-size: 46px;
    color: greenyellow;
    font-weight: 800
}
#statistics h6{
    font-weight: 700;
}
#team{
    padding: 4rem 0 0 0;
}
.carousel{
    margin:0 !important;
    height: 350px;
}
@media(max-width:600px){
    .tap-target-content{
        font-size: 11px
    }
}
.carousel a{
    height: initial !important;
}
.overlay{
    position: absolute; 
    top: 0;
    bottom: 7px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .9s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20% 20px;
    text-align: center;
}
.carousel a:hover .overlay{
    opacity: 1;
}
body{
    font-family: IranSans;
    font-weight: 300
}
.slider h5{
    line-height: 150%
}
.card .card-reveal p {
    text-align: justify;
}
.determinate{
    height: 100%;
    font-size: 20px;
    color: white;
    width: 0;
    padding-top: 5px;
    font-weight: 500
}
.progress .determinate{
    transition-duration: 1.2s;
}
#portfolio-filter{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

#portfolio-filter li{
    flex-basis: 90px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0 , 0 , 0 , 0.2);
    transition-duration: 0.4s;
}

#portfolio-filter .filter-active{
    background-color: #2c6;
    color: white;
    box-shadow: 2px 5px 6px rgba(0 , 0 , 0 , 0.2);
}
.overlay h5:hover{
    color: aquamarine
}
#portfolio-filter li:hover{
    box-shadow: 2px 5px 6px rgba(0 , 0 , 0 , 0.2);
}
#form > form > div > div > button{
    margin-right: 4rem;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    width: 120px;
}
.overlayimg::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.caption{
    z-index: 100;
}
