#navbar{
    position: fixed;
    z-index: 1000;
    background-color: transparent;
    background-image: linear-gradient(rgba(0,0,0,0.8),transparent)
}
.indicators{
    z-index: 100;
    padding-bottom: 6vh;
}
.indicator-item{
    border-radius: 0 !important;
    height: 5px !important;
    width: 3vw !important;
    background-color: rgba(255, 255, 255, 0.35) !important
}
.indicators .active{
    background-color: white !important
}
#aboutUs{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background:url("../images/world.jpg") center /cover no-repeat fixed;
    position: relative;
}
#aboutUs::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.89)
}
#aboutUs .container{
    position: relative;
}
#aboutUs h3{
    margin: 0px auto 20px auto;
    padding-bottom: 15px;
}
#aboutUs>div>p{
    width: 80%;
    margin: 0 auto 27px auto;
}
#slider{
    height: 100vh !important;
    min-height: 400px;
}
#slider li {
    height: 100%;
}