#navbar{
    position: fixed;
    z-index: 1000;
    background-color: transparent;
    background-image: linear-gradient(rgba(0,0,0,0.8),transparent)
}
.indicator-item{
    border-radius: 0 !important;
    height: 5px !important;
    width: 3vw !important;
    background-color: rgba(255, 255, 255, 0.35) !important
}
.indicators .active{
    background-color: white !important
}
#aboutUs{
    padding: 4rem 0;
    background:url("../images/world.jpg") center /cover no-repeat fixed;
    position: relative;
}
#aboutUs::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.89)
}
#aboutUs .container{
    position: relative;
}
.section-head{
    margin: 0px auto 20px auto;
    padding-bottom: 15px;
}
.section-body{
    width: 80%;
    margin: 0 auto 27px auto;
}
#slider{
    position: relative !important;
    height: 100vh !important;
    min-height: 400px;
}
#slider li {
    height: 100%;
}
#statistics,#form{
    padding: 60px 0;
}
#statistics{
    background: url("../images/stats.jpg") center /cover no-repeat fixed;
}
#statistics>div>div>div{
    padding-top: 25px;
}
.counter{
    font-size: 46px;
    color: greenyellow;
    font-weight: 800
}
#statistics h6{
    font-weight: 700;
}
#Portfolio{
    padding: 4rem 0 0 0;
}
.carousel{
    margin:-60px 0 -50px 0;
}
@media(max-width:600px){
    .tap-target-content{
        font-size: 11px
    }
}