$color-dark: #262626;
$color-black: #000;
$color-primary: rgb(255, 188, 64);
$color-secondary: #bbb;
$color-white: #fff;

$font-dancingScript: "Dancing Script",
cursive;
$font-josefinSans: "Josefin Sans",
sans-serif;
$font-nunito: "Nunito",
sans-serif;
$font-sahel:sahel,
tahoma;
$font-nastaliq:Nastaliq,
tahoma;

@font-face {
    font-family: sahel;
    src: url("../fonts/Sahel-Bold.eot");
    src: url("../fonts/Sahel.ttf") format("ttf"), url("../fonts/Sahel.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: Nastaliq;
    src: url("../fonts/IranNastaliq.ttf");
    font-weight: normal;
}

@mixin flexLayout {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin textStyles {
    font-weight: 300;
    letter-spacing: 2px;
}

@mixin centering($top-value) {
    position: absolute;
    top: $top-value;
    left: 50%;
    transform: translate(-50%, -50%);
}

%fullSpace {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-dark;
}