body {
	background-color: white;
	color: purple;
	font-family: ;
}
header {
	font-family: verdana;
}
section {
	border: 1px solid;
	padding: 8px;
	margin: 5px;
}

section.imp {
	font-style: italic;
	border: 2px solid;
}
a.imp {
	color:red;
	font-style:italic;
}
.blue {
	background-color: lightblue;
	
}
section h2 {
	border-bottom: 1px dotted;
}
footer {
	background-color: orange;
	padding:0px 15px
}