.btn {
	border: thick outset #555;
	text-decoration: none;
	color:#000;
	background-color: #eee;
	padding: 5px 5px;
	cursor: pointer;
	margin: 19px 10px;
}
.btn-green {
	background-color: lightgreen;
	color: green;
	border-color: green;
}
article .btn {
	float: right;
	margin: 15px;
}