body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: #506566;
} 
aside {
background-color: #23354B;
color: #CDB09E;
padding: 25px;
margin: 5px; 
}
nav {
	display: flex;
}
nav > aside {
	flex: 1;
}
@media (max-width: 500px) {
	nav {
		display: block;
	}
}
@media print {
	nav {
		display: block;
	}
	body {
		background-color: white;
		font-family: 'Times New Roman', Times, serif;
	}
	nav > aside {
		background-color: white;
		color: black;
		font-size: 90;
		padding: 10px;
		margin: 20px;
		font-size: 20px;
	}
}