$color-dark: #262626;
$color-black: #000;
$color-primary: rgb(255, 188, 64);
$color-secondary: #bbb;

$font-dancingScript: "Dancing Script",
cursive;
$font-josefinSans: "Josefin Sans",
sans-serif;
$font-nunito: "Nunito",
sans-serif;

@mixin flexLayout {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin textStyles {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin centering($top-value) {
    position: absolute;
    top: $top-value;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-dark;
}