.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.5)), url(../images/bg.jpeg) center no-repeat;
    background-size: cover;

    .brand {
        @include centering(15%);
        display: flex;
        align-items: center;
    }

    &-banner {
        text-align: center;
        color: white;
        @include centering(50%);
    }
}

.about-us {
    height: 90vh;
    display: flex;
    align-items: center;

    &-left {
        width: 40%;

        img {
            width: 100%;
            opacity: 0.7;
        }
    }

    &-right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .stars {
            margin: 30px 0;
        }

        .star {
            font-size: 15px;
            color: $color-primary;
            margin-left: 10px;
        }

        .description {
            font-family: $font-nastaliq;
            direction: rtl;
            color: $color-secondary;
            text-align: justify;

        }
    }
}